* {
  box-sizing: border-box;
}
.bodyForm {
  /* display: flex;
  flex-direction: column;

  width: 450px;
  height: 150px; */
  max-width: 350px;
  margin: 50px auto 0;
  padding: 20px;
  background: rgb(63, 82, 122);
  font-family: 'Oswald', sans-serif;
}
.wrapperForm {
  position: relative;
  margin-top: 4px;
  width: 100%;
}
.stripesBlock {
  position: relative;
  padding: 10px 10px 15px;
  margin-bottom: 20px;
  background: repeating-linear-gradient(
    -30deg,
    rgb(63, 82, 122),
    rgb(63, 82, 122) 8px,
    rgb(223, 242, 238) 10px,
    rgb(223, 242, 238) 14px
  );
}

.formGrup {
  margin-bottom: 20px;
  padding: 10px;
  background: rgb(223, 242, 238);
}
.formGroupInput,
.form-groupLabel {
  display: block;
  width: 100%;
}
.formGroupInput {
  padding: 0;
  line-height: 30px;
  background: #fff;
  border-width: 0;
}
.formGgroupLabel {
  margin-bottom: 5px;
  color: rgb(63, 82, 122);
  text-transform: uppercase;
  font-size: 12px;
}
.button {
  display: inline-block;
  padding: 5px 10px;
  background: #fff;
  cursor: pointer;
  color: rgb(63, 82, 122);
}
.submitButton {
  padding: 10px 20px 20px;
  background: repeating-linear-gradient(
    -30deg,
    rgb(63, 82, 122),
    rgb(63, 82, 122) 8px,
    rgb(223, 242, 238) 10px,
    rgb(223, 242, 238) 14px
  );
  text-align: center;
  cursor: pointer;
}
